on:
  pull_request:
    types: [opened, reopened, ready_for_review]
  issue_comment:
jobs:
  pr_agent_job:
    if: ${{ github.event.sender.type != 'Bot' }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      contents: write
    name: Run pr agent on every pull request, respond to user comments
    env: 
      REVIEW_INSTRUCTIONS: >-
        日本語を使用してください。
        以下に記載した観点からレビューを行ってください。
        ただし、改善点がなければ回答は不要です。
        クエリやgormが利用されている場合、以下2つの観点から改善提案してください。
        - クエリそのもののパフォーマンス改善
        - 検索対象テーブルにインデックスを追加すべきカラムがあるか
        その他ファイル対して、以下の観点でレビューしてください。
        - 命名は分かりやすく実態を表しているか
        - typo
        - 可読性
        - セキュリティ上の脆弱性がないか
        - トランザクションの貼り方が適切か
        - nilチェックが適切にされているか
        - 理解しにくい、または実装と命名が乖離している箇所があるか
        - 冗長なコードがないか
        - メソッド名・関数名だけで実装が理解しにくい場合、分かりやすい日本語でコメントされているか
        - ネストが深い（3以上）条件文などがないか
    steps:
      - name: PR Agent action step
        id: pragent
        uses: Codium-ai/pr-agent@main
        env:
          OPENAI_KEY: ${{ secrets.OPENAI_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # opeanAIのモデル選択
<<<<<<< HEAD
          config.model: "gpt-4o"
          # opeanAIのフォールバックモデル選択
          config.fallback_model: "o1-preview-2024-09-12"
          # pr_descriptionにおいてPRのタイトルも自動生成する
          generate_ai_title: true 
=======
          config.model: "gpt-5.1"
          # opeanAIのフォールバックモデル選択
          config.fallback_model: "o1-preview-2024-09-12"
          # pr_descriptionにおいてPRのタイトルも自動生成する
          pr_description.generate_ai_title: true 
          # pr_descriptionにおける追加プロンプト
          pr_description.extra_instructions: "Please use Japanese for everything." 
          # pr_reviewにおける追加プロンプト
          pr_reviewer.extra_instructions: "Please use Japanese for everything." 
>>>>>>> 631668ae90d9d46f663a80f000aeac87f9397b81
          # pr_reviewにおけるPRにスコアを付ける機能を有効化
          pr_reviewer.require_score_review: true
          # pr_reviewにおけるPRが分割できるかどうかを判断してくれる機能を有効化
          pr_reviewer.require_can_be_split_review: true
          # pr_improveにおける追加のプロンプト
          pr_code_suggestions.extra_instructions: "Please use Japanese for everything." 
          # pr_improveにおいて問題点にのみ焦点を当てるか（falseだと可読性や保守性等の指摘が入りやすくなる）
          pr_code_suggestions.focus_only_on_problems: false
          # pr_improveにおける各提案にGood/Badの評価をつける機能を有効化
          pr_code_suggestions.allow_thumbs_up_down: true
<<<<<<< HEAD

          respanse_language: "ja-JP"
       
=======
          # pr_update_changelogにおける追加のプロンプト
          pr_update_changelog.extra_instructions: "Please use Japanese for everything." 
>>>>>>> 631668ae90d9d46f663a80f000aeac87f9397b81
