name: PR Agent

on:
  pull_request:

jobs:
  pr_agent_job:
    runs-on: ubuntu-latest
    steps:
      - name: PR Agent action step
        uses: qodo-ai/pr-agent@v0.27
        env:
          OPENAI_KEY: ${{ secrets.OPENAI_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          CONFIG.MODEL: "gpt-5.1-codex-mini"
          CONFIG.FALLBACK_MODELS: '["gpt-5.1-codex-mini"]'

          CONFIG.USE_REPO_SETTINGS_FILE: "true"
          CONFIG.USE_WIKI_SETTINGS_FILE: "false"
          CONFIG.USE_GLOBAL_SETTINGS_FILE: "false"
