on:
  pull_request:
    types: [opened, reopened, ready_for_review]
  issue_comment:
jobs:
  pr_agent_job:
    if: ${{ github.event.sender.type != 'Bot' }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      contents: write
    name: Run pr agent on every pull request, respond to user comments
    steps:
      - name: PR Agent action step
        id: pragent
        uses: qodo-ai/pr-agent@main
        env:
          OPENAI_KEY: ${{ secrets.OPENAI_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # opeanAIのモデル選択
          config.model: "o1-preview"
          # opeanAIのフォールバックモデル選択
          config.fallback_model: "o1-preview-2024-09-12"
          # pr_descriptionにおいてPRのタイトルも自動生成する
          generate_ai_title: true 
          # pr_reviewにおけるPRにスコアを付ける機能を有効化
          pr_reviewer.require_score_review: true
          # pr_reviewにおけるPRが分割できるかどうかを判断してくれる機能を有効化
          pr_reviewer.require_can_be_split_review: true

          # pr_improveにおいて問題点にのみ焦点を当てるか（falseだと可読性や保守性等の指摘が入りやすくなる）
          pr_code_suggestions.focus_only_on_problems: false
          # pr_improveにおける各提案にGood/Badの評価をつける機能を有効化
          pr_code_suggestions.allow_thumbs_up_down: true

          config.response_language: "ja-JP"
          config.output_relevant_configurations: true

